

body{
  font-family: 'IBM Plex Sans', sans-serif;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-repeat: no-repeat;
  background-attachment: fixed;
}




#story-start{
  font-size: 1.3rem;
  color: white;
  opacity: 0.95;
  text-shadow: white 0.5px 0 10px;
  position: relative;
  width: 60vw;
  left: 20vw;
  margin-top: 20vh;
  padding-left: 20px;
}

#story{
  background-color: rgba(255, 255, 255, 0.3);
  /* border: 2px solid white; */
  border: none;
  border-radius: 20px;
  position: relative;
  width: calc(60vw - 20px * 2);
  left: 20vw;
  height: 30vh;
  padding: 20px;
  box-shadow:  white 0.5px 0 5px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.3rem;
  color: white;
  opacity: 0.95;
  text-shadow: white 0.5px 0 10px;
  margin-bottom: 20px;
}

#keywords{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.3rem;
  color: white;
  opacity: 0.95;
  text-shadow: white 0.5px 0 10px;
  height: 40px;
  width: 40vw;
  border-radius: 20px;
  /* border: 1.5px solid white; */
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  left: 20vw;
  box-shadow:  white 0.5px 0 5px;
}

#keywords::placeholder{
  color: rgba(255, 255, 255, 0.8);
}

#generate{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.3rem;
  color: white;
  opacity: 0.95;
  text-shadow: white 0.5px 0 10px;
  position: relative;
  left: calc(60vw + 40px + 20px);
  top: -55px;
}

#generate:hover{
  text-shadow: rgb(178, 0, 209) 0.5px 0 10px;
  cursor: pointer;
}